body {
background-color: #E5E5E5;
}

header {
  padding-top: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li {
  margin-left: 100px;
  
}

a {
text-decoration: none;
color: #6B708D;
}

.logo {
  padding-right: 100px;
}

.button {
  background: #072AC8;
  color: #FFFFFF;
  margin-left: 200px;
  width: 115px;
  height: 40px;
  border: 0;
}

.logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}


